*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
}
li{
    list-style: none;
}
.main_header img{
    height: 60px;
    width: auto;
}
.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1%;
    background-color: #125159;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    position:fixed;
    width: 100%;
    z-index: 3;

}
.main_header ul{
    display: flex;
}

.main_header li a{
    margin-right: 20px;
    font-size: 110%;
    text-decoration: none;
    color: white;
    font-weight:normal
}
.main_header ul a:hover{
    color: rgb(145, 145, 145);
    cursor: pointer;
}

#sign_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -2.5%;
    
}
#sign_box form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 30%;
    font-family: Signika Negative, "Montserrat", sans-serif;
    font-weight:500;
    margin-top: 3%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 8px black;
}

.input_sing{
    height: 5%;
    width: 70%;
    border-radius: 7px;
    border:  2px solid gray;
    text-align: center;
    margin: -1%;
}
#sign_box form label{
    width: 70%;
    text-align: left;
    margin: -0.5%;
}
.input_submit{
    color: white;
    background-color: #025159;
    height: 5%;
    width: 30%;
}

#sign_box form input:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;

}

#login_box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -2.5%;
    
}
#login_box form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 30%;
    font-family: Signika Negative, "Montserrat", sans-serif;
    font-weight:500;
    margin-top: 5%;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px black;

}

.input_login{
    height: 8%;
    width: 70%;
    border-radius: 7px;
    border:  2px solid gray;
    text-align: center;
    margin: -1%;
}
#login_boxform label{
    width: 70%;
    text-align: left;
    margin: -0.5%;
}
.input_submit_login {
    color: white;
    background-color: #025159;
    height: 45%;
    width: 50%;
}

#login_box form input:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.div_submit{
    display: flex;
    justify-content: space-between;
    flex-direction:row;
    align-items: end;
    height: 20%;
    width: 80%;
}

#banner_inicial{
    position: relative;
    width: 100%;
    height: auto;
}

#fotoHeader{
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    opacity: 0.8;
}

.waves{
    position: absolute;
    bottom: -0.1%;
    width: 100%;

}

#texto_banner{
    position: absolute;
    bottom: 50%;
    text-align: center;
    width: 100%;
    /*color:#616163;*/
    color: rgb(59, 59, 59);
    font-family: "Manrope", Sans-serif;
    font-size: 3vw;
    font-weight: bold;
    /*text-shadow: #616163 1px -1px, #616163 -1px 1px, #616163 1px 1px, #616163 -1px -1px;*/

}

#figure_tartatuga_inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


}
#img_tartatuga_inicial{
    position: absolute;
    bottom: -0.1%;
    width: 30%;
    height: auto;
}


/*Por que adotar uma tartatuga*/

#porque_adotar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 10%;
    position: relative;
    top: -10%;
}

#title_porque_adotar{
    font-size: 180%;
    color:#454546;
}
#porque_adotar div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 10%;
    position: relative;
    top: -10%;
}
#porque_adotar_resposta
{
    background-color: #025159;
    font-size: 1.2vw;
    width: 25%;
}

