@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}

body{

    height: 100vh;
}
li{
    list-style: none;
}

/*Nav bar*/

.main_header img{
    height: 60px;
    width: auto;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5% 1%;
    background-color: #125159;
    box-sizing: border-box;
    font-family:"Montserrat", sans-serif;
    position:fixed;
    width: 100%;
    z-index: 3;
}

.main_header ul{
    display: flex;
}

.main_header li a{
    margin-right: 20px;
    font-size: 110%;
    text-decoration: none;
    color: white;
    font-weight:normal
}

.main_header ul a:hover{
    color: rgb(145, 145, 145);
    cursor: pointer;
}

#logo_e_nome{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    color: white;
}

.page_name{
    padding-left: 1%;
    padding-top: 6rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 3rem;
    color: #6b8e23;
}


/*Cadastro*/

#sign_box{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
    padding-top: 2rem;
    
}

#sign_box img{
    box-shadow: 0px 0px 8px black;
}

#sign_box form{

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 30%;
    font-family: Signika Negative, "Montserrat", sans-serif;
    font-weight:500;
    border-radius: 20px;
    background-color: white;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 1.5rem 0rem;

}

#sign_box form:hover{
    box-shadow: 0px 0px 8px black;
}

.input_sing{
    height: 2rem;
    width: 70%;
    border-radius: 7px;
    border:  2px solid gray;
    text-align: center;
    margin: -1%;

}
#sign_box form label{
    width: 70%;
    text-align: left;
    margin: -0.5%;
}

.input_submit{
    color: white;
    background-color: #6b8e23;
    height: 4rem;
    width: 8rem;
}

.input_sing:hover{
    background-color: #e9e9e9;
}

#sign_box form input:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;

}
.input_submit:hover{
    background-color: #59771d;
}

/*Login*/

#login_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9rem;
    margin-top: 2rem;

}

#login_box img{

    box-shadow: 0px 0px 8px black;

}

#login_box form{

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 30%;
    font-family: Signika Negative, "Montserrat", sans-serif;
    font-weight:500;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 0px 8px black;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
#login_box form:hover{
    box-shadow: 0px 0px 8px black;
}

.input_login{

    height: 2rem;
    width: 20rem;
    border-radius: 7px;
    border:  2px solid gray;
    text-align: center;
    margin: -1%;
}

.input_login:hover{
    background-color: #e9e9e9;
}

#login_boxform label{
    width: 70%;
    text-align: left;
    margin: -0.5%;
}

.input_submit_login {
    color: white;
    background-color: #6b8e23;
    height: 4rem;
    width: 8rem;
    text-decoration: none;
}
.input_submit_login:hover{
    background-color: #59771d;
}

#login_box form input:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
}

.div_submit{
    display: flex;
    justify-content: center;
    flex-direction:row;
    align-items: center;
    gap: 2rem;
    height: 20%;
    width: 80%;
    
}

/*Banner inicial Index*/

#banner_inicial{
    position: relative;
    width: 100%;
    height: auto;
}

#fotoHeader{
    width: 100%;
    height: 70%;
    display: block;
    object-fit: cover;
    opacity: 0.8;
}

.waves{
    position: absolute;
    bottom: -0.1%;
    width: 100%;

}

#figure_tartatuga_inicial{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;


}
#img_tartatuga_inicial{
    position: absolute;
    bottom: -0.1%;
    width: 30%;
    height: auto;
}


/*Por que adotar uma tartatuga*/

#porque_adotar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    height: 25%;
    position: relative;
    top: -4rem;
}

#title_porque_adotar{
    font-size: 200%;
    font-family: "Manrope", Sans-serif;
}
#porque_adotar div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
    top: -10%;
    gap: 5%;
    font-family: "Manrope", Sans-serif;
}
.caixa_resposta_porque
{
    background-color: #ca7a05;
    font-size: 1.3vw;
    width: 25%;
    height: 100%;
    word-break:keep-all;
    text-align: center;
    padding: 1%;
    left: 10%;
    right: 10%;
    border-radius: 60px;
    color: white;

}

.caixa_resposta_porque:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 6px 10px 0px, rgba(14, 30, 37, 0.32) 0px 6px 24px 0px;
}

.caixa_resposta_porque i{
    font-size: 2vw;
}

/*footer*/

footer{
    width: 100%;
    background-color: #025159;
    margin-top: 8%;
}

#conteudo_footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    color: white;
    font-size: 1vw;
    padding: 1rem 1.5rem;
    text-align: center;
}

#social_media{
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

#conteudo_footer a{
    height: 1.5rem ;
    width: 1.5rem;
    color: white;
    
}
#texto_footer{
    font-family: "Manrope", Sans-serif;
}

/*Texto e imagens impactos do projeto*/

#explicacao_projeto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px ;
    word-break: keep-all;
    font-size: 1.5rem;
    font-family: "Manrope", Sans-serif;
    margin-right: 2rem;
    margin-top: -2.5rem;
}

#explicacao_projeto img{
    box-shadow: 0px 0px 8px black;
    
}

/* Opcoes de adocao*/
#opcoes_ong{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

.opcao_ong{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    border-radius: 25px;
    font-size: 1.5rem;
    font-family: "Manrope", Sans-serif;
    font-weight: bold;
}
.opcao_ong img{
    width: 20rem;
}

.opcao_ong:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 6px 10px 0px, rgba(14, 30, 37, 0.32) 0px 6px 24px 0px;

}

.opcao_ong button{
    margin: 2rem;
    font-size: 1.2rem;
    font-weight: 550;
    background-color: #6b8e23;
    border: none;
    border-radius: 20px;
    padding: 0.8rem 3rem;
}

.opcao_ong button:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    cursor: pointer;
    background-color:#ca7a05;
}
.label_list{
    width: 100%;
    display: flex;
    padding-top: 3rem;
    font-family: Signika Negative, "Montserrat", sans-serif;
    font-weight: bolder;
    font-size: 1.3rem;
    
}
.label_list p{
    text-align: center;
    width: 30%;

}

.users_list{
    width: 100%;
    padding: 1rem;
    
}
.users_list li{
    width: 100%;
    background-color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
 
}
.list_information{
    display: inline-block;
    width: 30%;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-weight: 400;
    overflow-wrap:break-word;
    font-family: Signika Negative, "Montserrat", sans-serif;

}

.users_list li:nth-child(odd){
    background-color: #125159 ;
    
}

.label_section_list{
    font-size: 2rem;
    padding: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bolder;
    color: #6b8e23;
}

.btn_remove_user{
    display: inline-block;
    font-size: 2rem;
    width: 10%;
    text-align: center;
    color: white;
}
.btn_remove_user:hover{
    font-size: 2.4rem;
    cursor: pointer;
    color: rgba(255, 0, 0, 0.644);
    
}

.list_section{

    box-shadow: rgba(14, 30, 37, 0.12) 0px 6px 10px 0px, rgba(14, 30, 37, 0.32) 0px 6px 24px 0px;
    border-radius: 25px;
    width: 90%;

}

#box_list_section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.list_section button{
    height: 2rem;
    width: 10rem;
    margin: 1rem;
    font-size: 1rem;
    background-color: rgba(255, 0, 0, 0.644);
    color: white;
    border-radius: 7px;
    border:  2px solid gray;
    text-align: center;
}

.list_section button:hover{
    height: 2.05rem;
    width: 10.1rem;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: red
}

.top{
    display: flex;
    justify-content: space-between;
}
.top input{
    margin: 1rem;
    width: 20%;
    border-radius: 7px;

}

.id_information{
    display: none;
}
